xterm*font: *-fixed-*-*-*-19-*

*Background: black
*Foreground: white 
! black
*color0:  rgb:2e/34/36
*color8:  rgb:55/57/53
! red
*color1:  rgb:a4/00/00
*color9:  rgb:ef/29/29
! green
*color2:  rgb:4e/9a/06
*color10: rgb:8a/e2/34
! yellow
*color3:  rgb:c4/a0/00
*color11: rgb:fc/e9/4f
! blue
*color4:  rgb:34/65/a4
*color12: rgb:72/9f/cf
! purple
*color5:  rgb:75/50/7B
*color13: rgb:ad/7f/a8
! orange (replaces cyan)
*color6:  rgb:ce/5c/00
*color14: rgb:fc/af/3e
! white
*color7:  rgb:ba/bd/b9
*color15: rgb:ee/ee/ec

XTerm*VT100.*translations:  #override \ 
    Shift Ctrl <Key>C: select-end(CLIPBOARD, CUT_BUFFER0) \n\
    Shift Ctrl <Key>V: insert-selection(CLIPBOARD, CUT_BUFFER0)
